In [1]:
import pandas as pd

In [2]:
pd.read_csv('C:/Users/Jesús García/Documents/CREAR PORTAFOLIO RAFA/GITHUB/proyecto-portafolio/DATOS/gapminder_full.csv')

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [4]:
#Renombrar fuente de datos
gapminder=pd.read_csv('./../DATOS/gapminder_full.csv')

In [5]:
#Mostrar encabezado de datos
gapminder.head(12)

        country  year  population continent  life_exp     gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801  779.445314
1   Afghanistan  1957     9240934      Asia    30.332  820.853030
2   Afghanistan  1962    10267083      Asia    31.997  853.100710
3   Afghanistan  1967    11537966      Asia    34.020  836.197138
4   Afghanistan  1972    13079460      Asia    36.088  739.981106
5   Afghanistan  1977    14880372      Asia    38.438  786.113360
6   Afghanistan  1982    12881816      Asia    39.854  978.011439
7   Afghanistan  1987    13867957      Asia    40.822  852.395945
8   Afghanistan  1992    16317921      Asia    41.674  649.341395
9   Afghanistan  1997    22227415      Asia    41.763  635.341351
10  Afghanistan  2002    25268405      Asia    42.129  726.734055
11  Afghanistan  2007    31889923      Asia    43.828  974.580338

In [6]:
#PARTE I: Explorando los datos
#mirando la forma de los datos
gapminder.shape

(1704, 6)

In [7]:
#tipo de dato por variable
gapminder.dtypes

country        object
year            int64
population      int64
continent      object
life_exp      float64
gdp_cap       float64
dtype: object

In [8]:
ggplot(plotdata_wide, 
       aes(y = reorder(country, y1960),
           x = y1960,
           xend = y2007)) + 
geom_dumbbell(size = 1.2,
                size_x = 3, 
                size_xend = 3,
                colour = "grey", 
                colour_x = "blue", 
                colour_xend = "red") +
  theme_minimal() + 
  labs(title = "Change in Life Expectancy",
       subtitle = "1960 to 2007",
       x = "Life Expectancy (years)",
       y = "")

SyntaxError: invalid syntax (Temp/ipykernel_22700/1591879630.py, line 4)

In [10]:
#Hacer preguntas sobre cada variable
#country
#¿cuantos paises hay en america?
gapminder['continent']== 'Asia'
gapminder[gapminder['continent']== 'Asia'].count() #muestra la sumatoria de paises
#gapminder[['country','continent']]
#type(gapminder[['country','continent']])
#crear variable de america del norte, centro y sudamerica
#year
#mostrar datos del año 1997 y 2007 unicamente
year_1997=gapminder['year']=='1997'
year_2007=gapminder['year']=='2007'
gapminder[year_1997 & year_2007] #no muestra ningun resultado
#population
#mostrar incremento de poblacion por bloque geografico de 1997
#mostrar porcentaje de incremento de poblacion por bloque geografico de 1997
#mostrar porcentaje de poblacion entre bloques geografico de 1997
#continent
#crear variable agrupando los paises por continente
#life_exp
#mostrar life_exp entre paises de america agrupados por bloques
#mostrar life_exp con el mayor/menor pais de america
#mostrar life_exp de mexico con el mayor/menor pais por continente y su porcentaje
#gdp_cap
#mostrar gdp_cap max/min por continente
#mostrar gdp_cap de México vs el max/min de cada continente y su porcentaje
#mostrar gdp_cap de México vs el max/min de cada bloque de america y su porcentaje
#mostrar gdp_cap de México vs el max de cada bloque del continente,su porcentaje de 1972 al 2007 
#mostrar la life_exp y gdp_cap de México contra el mayor país por continente y su porcentaje

Empty DataFrame
Columns: [country, year, population, continent, life_exp, gdp_cap]
Index: []